.MenuWrap {
	height: 75%;
	overflow-y: scroll;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin: 25px;
	overflow-x: hidden;
	scrollbar-width: none;
}

.card {
	height: 230px;
	width: 180px;
	background-position: center;
	background-size: cover;
	border-top-left-radius: 10px;
	box-shadow: 1px 1px 3px #f1f3f6;
	cursor: pointer;
}

.imager {
	width: 100%;
	height: 55%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.cardBg {
	background: #ffffff;
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5px 0 5px 10px;
	justify-content: space-around;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.cardBg h6 {
	font-size: 1.5em;
	font-weight: 400;
}

.variantDes {
	color: #757f81;
	font-size: 1.2em;
	font-weight: 500;
}
