* {
	margin: 0px;
	padding: 0px;
}

.base {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 5% 95%;
	position: fixed;
}

.nav {
	grid-column: 1/2;
}

.routed {
	grid-column: 2/3;
}
